
*{
	font-family: 'Orbitron', sans-serif;
}

body{
	background-image: url("../images/Background.jpg"); 
}

/*Styles the character button*/
	.characterBtn{
		width: 200px;
		height: 200px;
		position: relative;
		border: 2px solid;
		border-color: #EDE4E4;
		background-color: #000000;
		margin: 10px;

	}

	.characterBtn > img{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 0;
	}

	.characterBtn > h4{
		top: -23px;
		right: 0px;
		position: absolute;
		background: rgba(7,64,128, 0.45);
		z-index: 1;
		color: #EDE4E4;
		border-color: #EDE4E4;
		width: 80%;
		height: 15%;
		font-size: 150%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 0 0 120px;
		border-style: solid;
		border-right: none;
		border-top: none;

	}

	.characterBtn > h5{
		background: rgba(7,64,128, 0.45);
		z-index: 1;
		position: absolute;
		bottom: -28px;
		left: 0;
		border-style: solid;
		border-left: none;
		border-bottom: none;
		color: #EDE4E4;
		border-color: #EDE4E4;
		width: 80%;
		height: 15%;
		font-size: 150%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 120px 0 0;
	}
/*================*/

/*Styles the attack button*/
	#attackBtn{
		background: none;
		color: #EDE4E4;
		border: none;
		font-size: 200%;
		letter-spacing: 3px;
	}
/*===============================*/



.wrapper{
	display: grid;
	grid-template-rows: 1fr 3fr 2fr 1fr;
	/*grid-auto-columns: minmax(100px, auto);*/
	/*grid-row-gap: 1em;*/
}

.gameTitle{
	/*justify-self: center;*/
	text-align: center;
	font-size: 150%;
	color: #FFFFFF;
	border-bottom: 1px #FFFFFF solid;
	height: 100px;
	box-sizing: border-box;
	
}
/*Styles the Character Selection*/
	.roster{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		justify-self: center;
		min-height: 450px;
		/*align-self: center;*/
		width: 80%;
		/*min-height: 3fr;*/
	}
/*=====================================*/

/*Styles the battle area*/
	.battleBox{
		display: grid;
		grid-template-columns: 2fr 1fr 2fr;
		align-items: center;
	}

	.battleBox > div{
		justify-self: center;
	}

	#currentCharacter{
		justify-self: end;
	}

	#defender{
		justify-self: start;
	}
/*=====================================*/

/*Styles the game logs*/
	.gameLog{
		width: 65%;
		color: #EDE4E4;
		border: 1px #EDE4E4 solid;
		border-radius: 35px;
		justify-self:center;
		background: rgba(7,64,128, 0.45);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 150%;
		height: 150px;
	}
/*====================================*/
